---
Language: Cpp
BasedOnStyle: LLVM
SpaceBeforeCpp11BracedList: true
ColumnLimit: 120
PointerAlignment: Left
QualifierAlignment: Left
BreakAfterReturnType: All
BinPackParameters: OnePerLine
BinPackArguments: false
AllowAllArgumentsOnNextLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always

BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never

SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*>$'
    Priority: 1
  - Regex: '^".*"$'
    Priority: 2

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments:
  Enabled: true
  AcrossComments: true
AlignConsecutiveBitFields:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
AlignConsecutiveMacros:
  Enabled: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
...
