# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.idea/.idea.VuMake.dir/.idea/.gitignore
/.idea/.gitignore
/cmake-build-debug-visual-studio/.ninja_deps
/cmake-build-release-visual-studio/.ninja_deps
/cmake-build-debug-visual-studio/.ninja_log
/cmake-build-release-visual-studio/.ninja_log
/.vs/VuMake/v17/.wsuo
/.vs/VuMake/FileContentIndex/2d72cffc-cd7b-4893-a849-c6478accf752.vsidx
/.vs/VuMake/FileContentIndex/4fd1b51b-12b4-4ba9-930e-5f393aceca64.vsidx
/.vs/VuMake/FileContentIndex/9ce8aeaf-9cf0-4043-ae28-ea53332a3c40.vsidx
/.vs/VuMake/FileContentIndex/07852ef6-6778-47ca-b923-c5e8cd74784a.vsidx
/.vs/VuMake/FileContentIndex/9479798e-ae2b-44df-b993-e2fc170784e9.vsidx
/.vs/VuMake/v17/ipch/AutoPCH/46901fe7ad735db0/BASE64.ipch
/.idea/dictionaries/BCE.xml
/.vs/VuMake/v17/Browse.VC.db
/.vs/VuMake/v17/ipch/AutoPCH/3901407fb42b0f35/BUFFER.ipch
/.vs/VuMake/v17/ipch/AutoPCH/ae93a44d18fe703c/BUFFER.ipch
/cmake-build-debug-visual-studio/build.ninja
/cmake-build-release-visual-studio/build.ninja
/cmake-build-debug-visual-studio/.cmake/api/v1/query/cache-v2
/cmake-build-release-visual-studio/.cmake/api/v1/query/cache-v2
/cmake-build-release-visual-studio/.cmake/api/v1/reply/cache-v2-a8b6cc827e9d686b8b71.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/cache-v2-ebca30c7e8ccf6f6d8bf.json
/cmake-build-debug-visual-studio/CMakeFiles/clion-Debug-Visual Studio-log.txt
/cmake-build-debug-visual-studio/CMakeFiles/clion-environment.txt
/cmake-build-release-visual-studio/CMakeFiles/clion-environment.txt
/cmake-build-release-visual-studio/CMakeFiles/clion-Release-Visual Studio-log.txt
/cmake-build-debug-visual-studio/CMakeFiles/cmake.check_cache
/cmake-build-release-visual-studio/CMakeFiles/cmake.check_cache
/.vs/cmake.db
/.vs/CMake Overview
/cmake-build-debug-visual-studio/external/fastgltf/cmake_install.cmake
/cmake-build-debug-visual-studio/external/glfw/docs/cmake_install.cmake
/cmake-build-debug-visual-studio/external/glfw/src/cmake_install.cmake
/cmake-build-debug-visual-studio/external/glfw/cmake_install.cmake
/cmake-build-debug-visual-studio/external/glm/glm/cmake_install.cmake
/cmake-build-debug-visual-studio/external/glm/cmake_install.cmake
/cmake-build-debug-visual-studio/external/VulkanMemoryAllocator/cmake_install.cmake
/cmake-build-debug-visual-studio/cmake_install.cmake
/cmake-build-release-visual-studio/external/fastgltf/cmake_install.cmake
/cmake-build-release-visual-studio/external/glfw/docs/cmake_install.cmake
/cmake-build-release-visual-studio/external/glfw/src/cmake_install.cmake
/cmake-build-release-visual-studio/external/glfw/cmake_install.cmake
/cmake-build-release-visual-studio/external/glm/glm/cmake_install.cmake
/cmake-build-release-visual-studio/external/glm/cmake_install.cmake
/cmake-build-release-visual-studio/external/VulkanMemoryAllocator/cmake_install.cmake
/cmake-build-release-visual-studio/cmake_install.cmake
/cmake-build-debug-visual-studio/external/glfw/cmake_uninstall.cmake
/cmake-build-release-visual-studio/external/glfw/cmake_uninstall.cmake
/cmake-build-debug-visual-studio/CMakeCache.txt
/cmake-build-release-visual-studio/CMakeCache.txt
/cmake-build-debug-visual-studio/CMakeFiles/3.28.1/CMakeCCompiler.cmake
/cmake-build-release-visual-studio/CMakeFiles/3.28.1/CMakeCCompiler.cmake
/cmake-build-debug-visual-studio/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-release-visual-studio/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug-visual-studio/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-release-visual-studio/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug-visual-studio/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
/cmake-build-release-visual-studio/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
/cmake-build-debug-visual-studio/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-release-visual-studio/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug-visual-studio/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-release-visual-studio/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug-visual-studio/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-release-visual-studio/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug-visual-studio/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-release-visual-studio/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-release-visual-studio/.cmake/api/v1/reply/cmakeFiles-v1-848215908e7081cdcb28.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/cmakeFiles-v1-ad3cc9c47b1ae9123a81.json
/CMakeLists.txt
/CMakePresets.json
/cmake-build-debug-visual-studio/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
/cmake-build-release-visual-studio/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
/cmake-build-debug-visual-studio/CMakeFiles/3.28.1/CMakeSystem.cmake
/cmake-build-release-visual-studio/CMakeFiles/3.28.1/CMakeSystem.cmake
/cmake-build-debug-visual-studio/.cmake/api/v1/query/codemodel-v2
/cmake-build-release-visual-studio/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/codemodel-v2-1127a582f946acf79f2b.json
/cmake-build-release-visual-studio/.cmake/api/v1/reply/codemodel-v2-b541a39af8d9c6cf1325.json
/src/Common.h
/.vs/VuMake/v17/ipch/AutoPCH/82e932a5ea1e8467/COMMON.ipch
/cmake-build-debug-visual-studio/shaders/compile.bat
/cmake-build-release-visual-studio/shaders/compile.bat
/shaders/compile.bat
/.vs/VuMake/v17/ipch/AutoPCH/9e831dd4b374f1b8/CONTEXT.ipch
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/CXX.dd
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/CXX.dd
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/CXXDependInfo.json
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/CXXDependInfo.json
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/CXXModules.json
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/CXXModules.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-release-visual-studio/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/directory-external.fastgltf-Debug-247f57fef4b8aa422626.json
/cmake-build-release-visual-studio/.cmake/api/v1/reply/directory-external.fastgltf-Release-247f57fef4b8aa422626.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/directory-external.glfw.docs-Debug-3599a25893434c91c723.json
/cmake-build-release-visual-studio/.cmake/api/v1/reply/directory-external.glfw.docs-Release-3599a25893434c91c723.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/directory-external.glfw.src-Debug-1131649002c2e77c400f.json
/cmake-build-release-visual-studio/.cmake/api/v1/reply/directory-external.glfw.src-Release-1131649002c2e77c400f.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/directory-external.glfw-Debug-e8dc15c458437e1736ff.json
/cmake-build-release-visual-studio/.cmake/api/v1/reply/directory-external.glfw-Release-2d04e175cd098d41b1c2.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/directory-external.glm.glm-Debug-abc7302ed9fa59a98343.json
/cmake-build-release-visual-studio/.cmake/api/v1/reply/directory-external.glm.glm-Release-abc7302ed9fa59a98343.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/directory-external.glm-Debug-c35beecffdababf19b76.json
/cmake-build-release-visual-studio/.cmake/api/v1/reply/directory-external.glm-Release-c35beecffdababf19b76.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/directory-external.VulkanMemoryAllocator-Debug-6c5184687b609d766564.json
/cmake-build-release-visual-studio/.cmake/api/v1/reply/directory-external.VulkanMemoryAllocator-Release-6c5184687b609d766564.json
/.vs/VuMake/v17/DocumentLayout.json
/.idea/editor.xml
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/embed.manifest
/.idea/.idea.VuMake.dir/.idea/encodings.xml
/cmake-build-debug-visual-studio/external/fastgltf/CMakeFiles/fastgltf.dir/fastgltf.idb
/.vs/VuMake/v17/ipch/AutoPCH/c027a16296fe03e8/FASTGLTF.ipch
/cmake-build-debug-visual-studio/external/fastgltf/CMakeFiles/fastgltf.dir/fastgltf.pdb
/cmake-build-debug-visual-studio/external/fastgltf/CMakeFiles/Export/14b504216a8c2b5661a6a7c88f3023ae/fastgltfConfig.cmake
/cmake-build-release-visual-studio/external/fastgltf/CMakeFiles/Export/14b504216a8c2b5661a6a7c88f3023ae/fastgltfConfig.cmake
/cmake-build-debug-visual-studio/external/fastgltf/CMakeFiles/Export/14b504216a8c2b5661a6a7c88f3023ae/fastgltfConfig-debug.cmake
/cmake-build-release-visual-studio/external/fastgltf/CMakeFiles/Export/14b504216a8c2b5661a6a7c88f3023ae/fastgltfConfig-release.cmake
/cmake-build-debug-visual-studio/CMakeFiles/ShowIncludes/foo.h
/cmake-build-release-visual-studio/CMakeFiles/ShowIncludes/foo.h
/cmake-build-debug-visual-studio/shaders/frag.spv
/cmake-build-release-visual-studio/shaders/frag.spv
/shaders/frag.spv
/cmake-build-debug-visual-studio/external/glfw/src/CMakeFiles/glfw.dir/glfw.idb
/cmake-build-debug-visual-studio/external/glfw/src/CMakeFiles/glfw.dir/glfw.pdb
/cmake-build-debug-visual-studio/external/glfw/src/glfw3.pc
/cmake-build-release-visual-studio/external/glfw/src/glfw3.pc
/cmake-build-debug-visual-studio/external/glfw/src/glfw3Config.cmake
/cmake-build-release-visual-studio/external/glfw/src/glfw3Config.cmake
/cmake-build-debug-visual-studio/external/glfw/src/glfw3ConfigVersion.cmake
/cmake-build-release-visual-studio/external/glfw/src/glfw3ConfigVersion.cmake
/cmake-build-debug-visual-studio/external/glfw/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets.cmake
/cmake-build-release-visual-studio/external/glfw/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets.cmake
/cmake-build-debug-visual-studio/external/glfw/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets-debug.cmake
/cmake-build-release-visual-studio/external/glfw/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets-release.cmake
/cmake-build-debug-visual-studio/external/glm/glm/CMakeFiles/glm.dir/glm.idb
/cmake-build-debug-visual-studio/external/glm/glm/CMakeFiles/glm.dir/glm.pdb
/src/imgui/imconfig.h
/src/imgui/imgui.cpp
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui.cpp.obj.ddi
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui.cpp.obj.ddi
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui.cpp.obj.modmap
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui.cpp.obj.modmap
/src/imgui/imgui.h
/cmake-build-debug-visual-studio/imgui.ini
/cmake-build-release-visual-studio/imgui.ini
/src/imgui/imgui_demo.cpp
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_demo.cpp.obj.ddi
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_demo.cpp.obj.ddi
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_demo.cpp.obj.modmap
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_demo.cpp.obj.modmap
/src/imgui/imgui_draw.cpp
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_draw.cpp.obj.ddi
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_draw.cpp.obj.ddi
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_draw.cpp.obj.modmap
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_draw.cpp.obj.modmap
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_impl_glfw.cpp.obj.ddi
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_impl_glfw.cpp.obj.ddi
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_impl_glfw.cpp.obj.modmap
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_impl_glfw.cpp.obj.modmap
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_impl_vulkan.cpp.obj.ddi
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_impl_vulkan.cpp.obj.ddi
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_impl_vulkan.cpp.obj.modmap
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_impl_vulkan.cpp.obj.modmap
/src/imgui/imgui_internal.h
/src/imgui/imgui_tables.cpp
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_tables.cpp.obj.ddi
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_tables.cpp.obj.ddi
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_tables.cpp.obj.modmap
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_tables.cpp.obj.modmap
/src/imgui/imgui_widgets.cpp
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_widgets.cpp.obj.ddi
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_widgets.cpp.obj.ddi
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_widgets.cpp.obj.modmap
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/imgui/imgui_widgets.cpp.obj.modmap
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/index-2024-09-02T14-11-07-0486.json
/cmake-build-release-visual-studio/.cmake/api/v1/reply/index-2024-09-02T14-11-07-0486.json
/.idea/.idea.VuMake.dir/.idea/indexLayout.xml
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/intermediate.manifest
/cmake-build-debug-visual-studio/Testing/Temporary/LastTest.log
/cmake-build-release-visual-studio/Testing/Temporary/LastTest.log
/cmake-build-debug-visual-studio/CMakeFiles/ShowIncludes/main.c
/cmake-build-release-visual-studio/CMakeFiles/ShowIncludes/main.c
/src/Main.cpp
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/Main.cpp.obj.ddi
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/Main.cpp.obj.ddi
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/Main.cpp.obj.modmap
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/Main.cpp.obj.modmap
/.vs/VuMake/v17/ipch/AutoPCH/8e1a10c06390ddfe/MAIN.ipch
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/manifest.rc
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/manifest.res
/src/Mesh.cpp
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/Mesh.cpp.obj.ddi
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/Mesh.cpp.obj.ddi
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/Mesh.cpp.obj.modmap
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/Mesh.cpp.obj.modmap
/src/Mesh.h
/.vs/VuMake/v17/ipch/AutoPCH/b0aeb6d298cb9d36/MESH.ipch
/.idea/misc.xml
/.idea/modules.xml
/cmake-build-debug-visual-studio/shaders/monka.gltf
/cmake-build-release-visual-studio/shaders/monka.gltf
/shaders/monka.gltf
/.idea/inspectionProfiles/Project_Default.xml
/.vs/ProjectSettings.json
/RenderDoc.cap
/cmake-build-debug-visual-studio/CMakeFiles/rules.ninja
/cmake-build-release-visual-studio/CMakeFiles/rules.ninja
/cmake-build-debug-visual-studio/shaders/shader.frag
/cmake-build-release-visual-studio/shaders/shader.frag
/shaders/shader.frag
/cmake-build-debug-visual-studio/shaders/shader.vert
/cmake-build-release-visual-studio/shaders/shader.vert
/shaders/shader.vert
/.vs/slnx.sqlite
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/target-fastgltf-Debug-2c0c937b165f6f7066a6.json
/cmake-build-release-visual-studio/.cmake/api/v1/reply/target-fastgltf-Release-151c382eb04fc8f5ce3d.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/target-glfw-Debug-c3b3228e7f92a75460ab.json
/cmake-build-release-visual-studio/.cmake/api/v1/reply/target-glfw-Release-1a9c53120105158a7c82.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/target-glm-Debug-137b109a81ac6fecb944.json
/cmake-build-release-visual-studio/.cmake/api/v1/reply/target-glm-Release-d9cfb7c77fdd8f6711f3.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/target-uninstall-Debug-49e86424155bdbb454c8.json
/cmake-build-release-visual-studio/.cmake/api/v1/reply/target-uninstall-Release-ba57635217376aafeb4d.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/target-update_mappings-Debug-861aff882d0ea76aa51f.json
/cmake-build-release-visual-studio/.cmake/api/v1/reply/target-update_mappings-Release-e09283db3a29a1f54406.json
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/target-VuMake-Debug-5358417c3c7910090b3e.json
/cmake-build-release-visual-studio/.cmake/api/v1/reply/target-VuMake-Release-ed8d08ded0ab2eceaa31.json
/cmake-build-debug-visual-studio/CMakeFiles/TargetDirectories.txt
/cmake-build-release-visual-studio/CMakeFiles/TargetDirectories.txt
/cmake-build-debug-visual-studio/.cmake/api/v1/query/toolchains-v1
/cmake-build-release-visual-studio/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug-visual-studio/.cmake/api/v1/reply/toolchains-v1-0eba2735764fdb2f7949.json
/cmake-build-release-visual-studio/.cmake/api/v1/reply/toolchains-v1-0eba2735764fdb2f7949.json
/cmake-build-debug-visual-studio/shaders/triangle.gltf
/cmake-build-release-visual-studio/shaders/triangle.gltf
/shaders/triangle.gltf
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/vc140.idb
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/vc140.pdb
/.idea/.idea.VuMake.dir/.idea/vcs.xml
/.idea/vcs.xml
/cmake-build-debug-visual-studio/shaders/vert.spv
/cmake-build-release-visual-studio/shaders/vert.spv
/shaders/vert.spv
/.vs/VSWorkspaceState.json
/src/VuBuffer.cpp
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/VuBuffer.cpp.obj.ddi
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/VuBuffer.cpp.obj.ddi
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/VuBuffer.cpp.obj.modmap
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/VuBuffer.cpp.obj.modmap
/src/VuBuffer.h
/.vs/VuMake/v17/ipch/AutoPCH/7e7cbf7cc8f41354/VULKANRENDERER.ipch
/.vs/VuMake/v17/ipch/AutoPCH/71d4dc00828548eb/VULKANRENDERER.ipch
/.vs/VuMake/v17/ipch/AutoPCH/98c5f7daec9489fe/VULKANRENDERER.ipch
/cmake-build-debug-visual-studio/VuMake.ilk
/.idea/VuMake.iml
/.vs/VuMake/v17/ipch/AutoPCH/82bf4add509c438a/VUMAKE.ipch
/.vs/VuMake/v17/ipch/AutoPCH/1812f82b6f77b0ae/VUMAKE.ipch
/.vs/VuMake/v17/ipch/AutoPCH/c5ea98244b4b9713/VUMAKE.ipch
/.vs/VuMake/v17/ipch/AutoPCH/e5f4d624d4612457/VUMAKE.ipch
/cmake-build-debug-visual-studio/VuMake.pdb
/src/VuRenderer.cpp
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/VuRenderer.cpp.obj.ddi
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/VuRenderer.cpp.obj.ddi
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/VuRenderer.cpp.obj.modmap
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/VuRenderer.cpp.obj.modmap
/src/VuRenderer.h
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/VuSwapChain.cpp.obj.ddi
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/VuSwapChain.cpp.obj.ddi
/cmake-build-debug-visual-studio/CMakeFiles/VuMake.dir/src/VuSwapChain.cpp.obj.modmap
/cmake-build-release-visual-studio/CMakeFiles/VuMake.dir/src/VuSwapChain.cpp.obj.modmap
/.vs/VuMake/v17/workspaceFileList.bin
